* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../Img/Cfes.jpg);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

a {
  text-decoration: none;
}

.titulo {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.contenedor-principal {
  max-width: 800px;
  max-height: 1300px;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Cambia nowrap a wrap para que los elementos se envuelvan */
  justify-content: space-between; /* Añade espacio entre elementos */
}

/* Estilos para las tarjetas */

.contenedor-tarjeta {
  margin: 50px; /* Reduce el margen para dar espacio entre tarjetas */
  width: 300px; /* Ajusta el ancho del contenedor de la tarjeta */
  height: 250px; /* Ajusta la altura del contenedor de la tarjeta */
  border-radius: 10px; /* Añade bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Añade sombra */
  text-align: center;
}

.contenedor-tarjeta-tarjeta-1 {
  transform: translateY(0px); /* Posiciona la tarjeta en su posición inicial */
}

.contenedor-tarjeta-tarjeta-2 {
  transform: translateY(-50px); /* Sube la imagen 50px */
}

.contenedor-tarjeta-tarjeta-3 {
  margin-top: 150px;
}

.contenedor-tarjeta-tarjeta-4 {
  margin-top: 300px;
}

/* Estilos para el contenido de las tarjetas */

.contenedor-tarjeta a {
  display: inline-block;
}

.contenedor-tarjeta:hover figure {
  transform: perspective(600px) rotateY(180deg);
}

.contenedor-tarjeta:hover figure img {
  filter: blur(2.5px);
}

figure.contenedor-principal {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  transition: all ease 0.8s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg);
}

figure.frontal, figure.trasera {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility : hidden;
}

figure.frontal {
  display: block;
}

figure.frontal img {
  width: 120%; /* Ajusta el ancho de la imagen */
  height: 250%; /* Ajusta la altura de la imagen */
  border-radius: 10px;
}

figure.trasera {
  position: absolute;
  top: 0px;
  padding: 20px;
  color: black;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto;
  box-shadow: 7px -1px 17px 5px rgba(0, 0, 0, 0.45);
}

figure.trasera p {
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  color: rgb(196, 193, 24);
  text-shadow: 4px, 4px, 2px rgba(219, 107, 9, 0.69);
}ssssssssssssssssss

figure.trasera h1 {
  padding: 10px;
  font-weight: 700;
  font-size: 24px;
  color: black;
}

/* Estilos para los títulos y enlaces */

h2::after, h2::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 6px;
  background-color: currentColor;
  top: 0.7em;
  transform: scale(1.0);
  transition: all 0.6s ease-in;
}

h2:hover:after, h2:hover:before {
  transform: scale(0.1);
}

h2::after {
  left: 420px;
}

h2::before {
  right: 420px;
}

a:hover span {
  color: #FFC080;
}